<div class="text-red-500 p-3 font-mono my-5">
  <% unavailable_extensions.each do |extension, queries| %>
    WARNING: Queries <%= queries.map { |q| "<b><u>#{q}</u></b>" }.join(", ").html_safe %> require extension: <b><%= extension %></b>
    <br>
  <% end %>
 </div>

<% if RailsPgExtras::Web.action_enabled?(:add_extensions) %>
  <%= link_to "Enable extensions", add_extensions_action_path,
              method: "post",
              data: {
                confirm: "This command will enable following extensions: #{unavailable_extensions.keys.join(", ")}. Do you want to proceeed?",
              }, class: "border p-3 bg-green-500 text-white hover:bg-green-600 font-bold rounded" %>
<% end %>

