version: 2
jobs:
  test:
    docker:
      - image: circleci/ruby:2.6.5
        environment:
          DATABASE_URL: postgresql://postgres:secret@localhost:5432/rails-pg-extras-test
      - image: circleci/postgres:11.5
        command: postgres -c shared_preload_libraries=pg_stat_statements
        name: postgres11
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: rails-pg-extras-test
          POSTGRES_PASSWORD: secret
      - image: circleci/postgres:12.7
        command: postgres -c shared_preload_libraries=pg_stat_statements
        name: postgres12
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: rails-pg-extras-test
          POSTGRES_PASSWORD: secret
      - image: circleci/postgres:13.3
        command: postgres -c shared_preload_libraries=pg_stat_statements
        name: postgres13
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: rails-pg-extras-test
          POSTGRES_PASSWORD: secret
    parallelism: 1
    steps:
      - checkout
      - run: gem update --system
      - run: gem install bundler
      - run: bundle config set --local path 'vendor/bundle'
      - run: bundle install
      - run: sudo apt-get update --allow-releaseinfo-change
      - run: sudo apt install postgresql-client
      - run: dockerize -wait tcp://postgres11:5432 -timeout 1m
      - run:
          name: Run specs for PG 11
          environment:
            DATABASE_URL: postgresql://postgres:secret@postgres11:5432/rails-pg-extras-test
          command: bundle exec rspec spec/
      - run:
          name: Run specs for PG 12
          environment:
            DATABASE_URL: postgresql://postgres:secret@postgres12:5432/rails-pg-extras-test
          command: bundle exec rspec spec/
      - run:
          name: Run specs for PG 13
          environment:
            DATABASE_URL: postgresql://postgres:secret@postgres13:5432/rails-pg-extras-test
          command: bundle exec rspec spec/
workflows:
  version: 2
  test:
    jobs:
      - test
